{% macro renderEvents(items, pageUrl) %}
  {% if items %}
    {% for item in items %}
      {{ renderEvent(item, pageUrl) }}
    {% endfor %}
  {% else %}
    <h4>There are no events yet.</h4>
  {% endif %}
{% endmacro %}

{% macro renderEvent(item, pageUrl) %}
  <div class="apos-event">
    <div class="apos-event-heading">
      <h4><a href="{{ pageUrl }}/{{ item.publishedAt | date('YYYY/MM/DD') }}/{{ item.slug }}">{{ item.title | e }}</a></h4>
      <h6>{{ item.publishedAt | date("MMM DD [']YY") }}</h6>
    </div>
    <div class="apos-event-body">{{ aposArea({ area: item.areas.body }) }}</div>
  </div>
{% endmacro %}
