<div class="apos-modal apos-template apos-import-event">
  <h3>{% block action %}Import Events{% endblock %}</h3>
  <div class="apos-modal-body">
    <form>
      <fieldset>
        <label>CSV File</label>
        {# Blueimp makes this go #}
        <input data-url="/apos-event/import" type="file" name="file" />
      </fieldset>
      <p>
        This form accepts a CSV file which should have the following headings: <code>title</code>, <code>descr</code>, <code>start date</code>, <code>start time</code>, <code>end date</code>, <code>end time</code>, <code>address</code> or <code>location</code> and <code>tags</code>. Tags are comma-separated. Categories is currently accepted as a synonym for tags. Date and time are accepted as synonyms for start date and start time. All columns are optional. The descr column is plain text. Any additional headings are politely ignored. <strong>Please note that duplicates are not detected.</strong> If you import duplicates you may need to remove them manually.
      </p>
    </form>
  </div>
  <div class="apos-modal-footer">
    <a href="#" data-action="save" class="apos-control apos-button apos-save">Import</a>
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Cancel</a>
  </div>
</div>
