{% macro renderFilters(query, filters) %}
	<form class="clearfix apos-event-filters">
		<fieldset class="apos-event-filter">
	    <legend>Month</legend>
			<select name="month" id="apos-month-filter">
				<option value="">None</option>
		    	{% for month in filters.month %}
						<option value="{{ month.value }}"{% if query.month and query.month == month.value %} selected{% endif %}>{{ month.label | date('MMMM YYYY')  }}</option>		
					{% endfor %}
			</select>
		</fieldset>
		<fieldset class="apos-event-filter">
	    <legend>Year</legend>
			<select name="year" id="apos-year-filter">
				<option value="">None</option>
					{% for year in filters.year %}
						<option value="{{ year.value }}"{% if query.year and query.year == year.value %} selected{% endif %}>{{ year.label  }}</option>		
					{% endfor %}
			</select>
		</fieldset>
		<input type="submit" value="SUBMIT">
	</form>
{% endmacro %}