{% include 'snippetMacros.html' %}
<div class="apos-modal apos-template {% block class %}apos-new-event{% endblock %}">
  <h3>{% block label %}New Event{% endblock %}</h3>
  <div class="apos-modal-body">
    <form>
      {{ snippetText('title', 'Title') }}
      {{ snippetText('clickthrough', 'Alternate URL') }}
      {{ snippetText('address', 'Location') }}
      {{ snippetText('descr', 'Description') }}
      {# Slugs become editable later, allow the edit template to add them here #}
      {% block slug %}{% endblock %}
      {{ snippetText('tags', 'Tags (comma-separated)') }}
      {{ snippetText('start-date', 'Start Date') }}
      {{ snippetText('start-time', 'Start Time') }}
      {{ snippetText('end-date', 'End Date') }}
      {{ snippetText('end-time', 'End Time') }}

    </form>
  </div>
  <div class="apos-modal-footer">
    <a href="#" data-action="save" class="apos-control apos-button apos-save">Save</a>
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Cancel</a>
  </div>
</div>
